langchain==0.3.27
python-dotenv===1.1.1
ipykernel==6.30.0
langchain_groq==0.3.6
langchain_google_genai==2.1.8
langchain_community==0.3.27
pypdf
faiss-cpu==1.11.0.post1
structlog==25.4.0
PyMuPDF==1.26.3
pandas
langchain-huggingface[tracing]
pytest
streamlit
docx2txt==0.9
openai
tiktoken
fastapi
-e .

